<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>REC Committee Dashboard | JBS Ethics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="stylesheet" href="/static/css/review.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/supervisor.css') }}">
</head>
<body>

<div class="admin-wrapper">

  <!-- Sidebar -->
   <aside class="sidebar">
    <div class="sidebar-header">
      <img src="/static/img/image.png" alt="UJ JBS Logo" class="sidebar-logo">
      <h3>JBS Ethics Application</h3>
    </div>
    <nav class="sidebar-nav">
      
      {% if 'admin' == role|lower%}
      <a href="{{url_for('chair_landing')}}" class="sidebar-link">
        <i class="fas fa-clipboard-list"></i> Dashboard
      </a>

      <a href="{{url_for('reviewer_list')}}" class="sidebar-link">
        <i class="fas fa-user"></i> Reviewer List
      </a>

      <a href="{{url_for('all_users')}}" class="sidebar-link">
        <i class="fas fa-users-cog"></i> User Management
      </a>
      {% elif 'super_admin' == role|lower %}
      <a href="{{url_for('chair_landing')}}" class="sidebar-link">
        <i class="fas fa-clipboard-list"></i> Dashboard
      </a>

      <a href="{{url_for('reviewer_list')}}" class="sidebar-link">
        <i class="fas fa-user"></i> Reviewer List
      </a>

      <a href="{{url_for('all_users')}}" class="sidebar-link">
        <i class="fas fa-users-cog"></i> User Management
      </a>
      
      <a href="{{url_for('super_admin')}}" class="sidebar-link">
        <i class="fas fa-users-cog"></i> Analytics
      </a>
      {% else %}
      <a href="{{url_for('review_dashboard')}}" class="sidebar-link">
        <i class="fas fa-clipboard-check"></i> My Reviews
      </a>
      {% endif %}
      <a href="{{url_for('rec_dashboard')}}" class="sidebar-link">
        <i class="fas fa-users"></i> Rec Team Dashboard
      </a>
      <a href="{{url_for('logout')}}" class="sidebar-link">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>

    </nav>
  </aside>

  <!-- Main Content -->
  <main class="admin-main">
    <header class="topbar">
      <h2>REC Committee Dashboard</h2>
    </header>

    <section class="admin-content">
      <h3>Assigned Submissions</h3>
      
    {% if submitted_form_a %}

      <table class="status-table">
        <thead>
          <tr>
            <th>Student-Number</th>
            <th>Form</th>
            <th>Risk Level</th>
            <th>Date Assigned</th>
            <th>Status</th>
            <th>Documents</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item,req,count in submitted_form_a %}
          <tr>
            <td>{{item.student_number}}</td>
            <td>Form A</td>
            <td><span class="badge status-high">{{item.risk_rating}}</span></td>
            
            <td>{% if item.signature_date%}{{item.signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td><span class="badge status-pending">
            {% if item.rec_status=='Approved'%}
             {{item.rec_status}}
             {% elif item.rec_status=='Approved with Minor Changes' %}
             {{item.rec_status}}
            
             {% else %} 
             {{ count }} of {{ all_Reviewers_counter }} Reviewed
             {% endif %}

            </span>
            <br>
            <span class="badge status-pending mt-2">
           
              {{ '%.2f' % (count / all_Reviewers_counter * 100 if all_Reviewers_counter else 0) }}% Reviewed
            </span>
          </td>
            <td>
              <ul class="doc-link">
                  {% if req.proposal_path %}
                      
                      <li><a href="{{ url_for('static', filename=req.proposal_path) }}" target="_blank">Research Proposal</a></li>
                  {% endif %}

                  {% if req.permission_letter %}
                  {% for file in req.permission_letter.split(',') %}
                    <li><a href="{{ url_for('static', filename=file.strip()) }}" target="_blank">Permission Letter {{ loop.index }}</a></li>
                  {% endfor %}
                {% endif %}
                  {% if req.ethics_evidence %}
                      <li><a href="{{ url_for('static', filename=req.ethics_evidence) }}" target="_blank">Ethical Compliance</a></li>
                  {% endif %}

                  {% if req.prior_clearance_path %}
               
                      <li><a href="{{ url_for('static', filename=req.prior_clearance_path) }}" target="_blank">Ethics Clearance</a></li>
                  {% endif %}
                  {% if req.research_tools_path %}
                      <li><a href="{{ url_for('static', filename=req.research_tools_path) }}" target="_blank">Survey/Interview/Focus Group Questions</a></li>
                  {% endif %}
                  {% if req.impact_assessment_path %}
                      <li><a href="{{ url_for('static', filename=req.impact_assessment_path) }}" target="_blank">Personal Assessment Impact Form</a></li>
                  {% endif %}
                  {% if req.prior_clearance %}
                  <li><a href="{{url_for('static',filename=req.prior_clearance)}}">Prior Clearance</a></li>
                  {% endif %}
                  {% if req.prior_clearance1 %}
                  <li><a href="{{url_for('static',filename=req.prior_clearance1)}}">Ethical Clearance</a></li>
                  {% endif %}
                  {% if req.participation_info_sheet%}
                  <li><a href="{{url_for('static',filename=req.participation_info_sheet)}}">Participation Info Sheet</a></li>
                  {% endif %}
                  
                <br>
              </ul>
            </td>
            <td>
              {% if 'admin' in role|lower%}
              <a href="{{url_for('admin_rec_form',form_id=item.form_id)}}" class="btn btn-success">Check Feedback</a>
              {% else %}
              <a href="{{url_for('rec_form_a',id=item.form_id)}}" class="view-btn">Review</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <br>
      {% if submitted_form_b%}
      <table class="status-table">
        <thead>
          
          <tr>
            <th>Student-Number</th>
            <th>Form</th>
            <th>Risk Level</th>
            <th>Date Assigned</th>
            <th>Status</th>
            <th>Documents</td>
            <th>Action</th>
          </tr>
         
        </thead>
        <tbody>
          {% for item,req,count in submitted_form_b%}
          <tr>
            <td>{{item.student_number}}</td>
            <td>Form B</td>
            <td><span class="badge status-high">{{item.risk_level}}</span></td>
            <td>{% if item.signature_date%}{{item.signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td><span class="badge status-pending">
            {% if item.rec_status=='Approved'%}
             {{item.rec_status}}
             {% elif item.rec_status=='Approved with Minor Changes' %}
             {{item.rec_status}}
             {% else %}
             {{ count }} of {{ all_Reviewers_counter }} Reviewed
             {% endif %}
            </span>
            
             <br>
            <span class="badge status-pending mt-2">
           
              {{ '%.2f' % (count / all_Reviewers_counter * 100 if all_Reviewers_counter else 0) }}% Reviewed
            </span>
            </td>
            <td>
              <ul class="doc-link">
                
                  {% if req.proposal_path %}
                      
                      <li><a href="{{ url_for('static', filename=req.proposal_path) }}" target="_blank">Proposal</a></li>
                  {% endif %}
                  {% if req.permission_letter %}
                  
                      <li><a href="{{ url_for('static', filename=req.permission_letter) }}" target="_blank">Impact Form</a></li>
                  {% endif %}
                  {% if req.ethics_evidence %}
                
                      <li><a href="{{ url_for('static', filename=req.ethics_evidence) }}" target="_blank">Permission Letter</a></li>
                  {% endif %}
                  {% if req.prior_clearance_path %}
               
                      <li><a href="{{ url_for('static', filename=req.prior_clearance_path) }}" target="_blank">Ethics Clearance</a></li>
                  {% endif %}
                  {% if req.participation_info_sheet %}
                      <li><a href="{{ url_for('static', filename=req.participation_info_sheet) }}" target="_blank">Participation Info Sheet</a></li>
                  {% endif %}
                <br>
                
              </ul>
            </td>
            <td>
              {% if 'admin' in role|lower%}
              <a href="{{url_for('admin_rec_form',form_id=item.form_id)}}">Check Feedback</a>
              {% else %}
              <a href="{{url_for('rec_form_b',id=item.form_id)}}" class="view-btn">Review</a>
              {% endif %}
            </td>
          </tr>
           {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <br>
      {% if submitted_form_c%}
      <table class="status-table">
        <thead>
          
          <tr>
            <th>Student-Number</th>
            <th>Form</th>
            <th>Risk Level</th>
            <th>Date Assigned</th>
            <th>Status</th>
            <th>Documents</th>
            <th>Action</th>
          </tr>
         
        </thead>
        <tbody>
          {% for item,req,count in submitted_form_c%}
       
          <tr>
            <td>{{item.student_number}}</td>
            <td>Form C</td>
            <td>
              <span class="badge status-high">{{item.risk_level}}</span>
            </td>
            <td>{% if item.review_signature_date%}{{item.review_signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td><span class="badge status-pending">
            {% if item.rec_status=='Approved'%}
             {{item.rec_status}}
             {% elif item.rec_status=='Approved with Minor Changes' %}
             {{item.rec_status}}
             {% else %}
             {{ count }} of {{ all_Reviewers_counter }} Reviewed
            
             {% endif %}
            </span>
             <br>
            <span class="badge status-pending mt-2">
              {{ '%.2f' % (count / all_Reviewers_counter * 100) }}% Reviewed
            </span>
          </td>
            <td>
              <ul class="doc-link">
                
                  {% if req.files %}
                      
                      <li><a href="{{ url_for('static', filename=req.files) }}" target="_blank">Proposal</a></li>
                  {% endif %}
                  
               
                <br>
              </ul>
            </td>
            <td>
              {% if 'admin' in role|lower%}
              <a href="{{url_for('admin_rec_form',form_id=item.form_id)}}">Check Feedback</a>
            </br>
              
              {% else %}
               <a href="{{url_for('rec_form_c',id=item.form_id)}}" class="view-btn">Review</a>
              {% endif %}
            </td>
          </tr>
           {% endfor %}
        </tbody>
      </table>
      {% else %}
      No Submissions
      {% endif %}
    </section>

  </main>
</div>

    <!-- <footer class="footer">
      <p>&copy; 2025 JBS Ethics Application</p>
    </footer> -->

<script>
  // Calculate "Days Left to Review"
  document.querySelectorAll('tr').forEach(row => {
    const dateCell = row.querySelector('.submission-date');
    const daysLeftCell = row.querySelector('.days-left');
    if (dateCell && daysLeftCell) {
      const submissionDate = new Date(dateCell.textContent.trim());
      const reviewDeadline = new Date(submissionDate);
      reviewDeadline.setDate(reviewDeadline.getDate() + 7); // 7-day deadline
      const now = new Date();
      const diffTime = reviewDeadline - now;
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
      daysLeftCell.textContent = diffDays > 0 ? `${diffDays} day(s)` : '⚠ Overdue';
      daysLeftCell.style.color = diffDays <= 1 ? 'red' : '';
    }
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
