<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Reviewer Dashboard | JBS Ethics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/supervisor.css" />
    <!-- <link rel="stylesheet" href="/static/css/review.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/supervisor.css') }}">
</head>
<body>

<div class="admin-wrapper">

  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="{{ url_for('static',filename='img/image.png')}}" alt="UJ Logo" class="sidebar-logo" />
      <h3>Reviewer Panel</h3>
    </div>
    <nav class="sidebar-nav">
      <a href="{{url_for('review_dashboard')}}" class="sidebar-link">
        <i class="fas fa-clipboard-check"></i> My Reviews
      </a>
      <a href="{{url_for('rec_dashboard')}}" class="sidebar-link">
        <i class="fas fa-users"></i> Rec Team Dashboard
      </a>
      <a href="{{url_for('logout')}}" class="sidebar-link">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </nav>
  </aside>

  <!-- Main -->
  <main class="admin-main">
    <header class="topbar">
      <h2>Reviewer Dashboard</h2>
    </header>

    <section class="admin-content">
      <h3>Assigned Submissions</h3>
    {% if submitted_form_a %}

      <table class="status-table">
        <thead>
          <tr>
            <th>Student</th>
            <th>Form</th>
            <th>Risk Level</th>
            <th>Date Assigned</th>
            <th>Status</th>
            <th>Documents</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>{{submitted_form_a.student_number}}</td>
            <td>Form A</td>
            <td>{{submitted_form_a.risk_rating}}</td>
            <td>{% if submitted_form_a.signature_date%}{{submitted_form_a.signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td><span class="badge status-pending">
              {% if submitted_form_a.rec_status  and submitted_form_a.form_reviewed_by1 == user_id and 'low' not in submitted_form_a.risk_level|lower%}
              {{submitted_form_a.rec_status}}
              {% elif not submitted_form_a.certificate_issued and not submitted_form_a.certificate_received and (submitted_form_a.form_reviewed_by==user_id or submitted_form_a.form_reviewed_by1==user_id) and 'low' not in submitted_form_a.risk_level|lower and submitted_form_a.review_status and not submitted_form_a.review_status1  %}
              Under Review
              {% elif not submitted_form_a.certificate_issued and not submitted_form_a.certificate_received and submitted_form_a.review_status and submitted_form_a.review_status1 %}
              Under Review
              {% elif not submitted_form_a.certificate_received and submitted_form_a.certificate_issued and (submitted_form_a.form_reviewed_by==user_id or submitted_form_a.form_reviewed_by1==user_id) and ('low' in submitted_form_a.risk_level|lower or 'low' in submitted_form_a.risk_rating |lower) %}
              Certificate Will be Issued
              {% elif submitted_form_a.review_status and submitted_form_a.form_reviewed_by1==user_id%}
              Submitted to Ethics Admin
              
              {% elif not submitted_form_a.certificate_issued and not submitted_form_a.certificate_received and submitted_form_a.review_status and not submitted_form_a.review_status1 and (submitted_form_a.form_reviewed_by == user_id or submitted_form_a.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif not submitted_form_a.certificate_issued and not submitted_form_a.certificate_received and submitted_form_a.form_reviewed_by and not submitted_form_a.form_reviewed_by1  and not (submitted_form_a.form_reviewed_by == user_id or submitted_form_a.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif not submitted_form_a.certificate_issued and not submitted_form_a.certificate_received and submitted_form_a.form_reviewed_by and submitted_form_a.form_reviewed_by1  and (submitted_form_a.form_reviewed_by == user_id or submitted_form_a.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif submitted_form_a.rejected_or_accepted and submitted_form_a.review_status and not submitted_form_a.review_status1 and not (submitted_form_a.form_reviewed_by == user_id or submitted_form_a.form_reviewed_by1 == user_id) and not submitted_form_a.form_reviewed_by1 %}
              Awaiting for review
              {% elif submitted_form_a.certificate_issued and submitted_form_a.certificate_received %}
              Certificate was issued
               
              {% elif not submitted_form_a.certificate_issued and not submitted_form_a.certificate_received and not item.reviewed_by and not item.reviewed_by1 %}
              Awaiting for review
              {% endif %}
            </span>
          
            </td>
            <td>
              <ul class="doc-link">
                  {% if requirementsa.proposal_path %}
                      
                      <li><a href="{{ url_for('static', filename=requirementsa.proposal_path) }}" target="_blank">Research Proposal</a></li>
                  {% endif %}

                  {% if requirementsa.permission_letter %}
                  {% for file in requirementsa.permission_letter.split(',') %}
                    <li><a href="{{ url_for('static', filename=file.strip()) }}" target="_blank">Permission Letter {{ loop.index }}</a></li>
                  {% endfor %}
                {% endif %}
                  {% if requirementsa.ethics_evidence %}
                      <li><a href="{{ url_for('static', filename=requirementsa.ethics_evidence) }}" target="_blank">Ethical Compliance</a></li>
                  {% endif %}

                  {% if requirementsa.prior_clearance_path %}
               
                      <li><a href="{{ url_for('static', filename=requirementsa.prior_clearance_path) }}" target="_blank">Ethics Clearance</a></li>
                  {% endif %}
                  {% if requirementsa.research_tools_path %}
                      <li><a href="{{ url_for('static', filename=requirementsa.research_tools_path) }}" target="_blank">Survey/Interview/Focus Group Questions</a></li>
                  {% endif %}
                  {% if requirementsa.impact_assessment_path %}
                      <li><a href="{{ url_for('static', filename=requirementsa.impact_assessment_path) }}" target="_blank">Personal Assessment Impact Form</a></li>
                  {% endif %}
                  {% if requirementsa.prior_clearance %}
                  <li><a href="{{url_for('static',filename=requirementsa.prior_clearance)}}">Prior Clearance</a></li>
                  {% endif %}
                  {% if requirementsa.prior_clearance1 %}
                  <li><a href="{{url_for('static',filename=requirementsa.prior_clearance1)}}">Ethical Clearance</a></li>
                  {% endif %}
                  {% if requirementsa.participation_info_sheet%}
                  <li><a href="{{url_for('static',filename=requirementsa.participation_info_sheet)}}">Participation Info Sheet</a></li>
                  {% endif %}
                  
                <br>
              </ul>
            </td>
            <td>
              <a href="{{url_for('reviewer_form_a',id=item.form_id)}}" class="view-btn">Review</a>
            </td>
          </tr>
         
        </tbody>
      </table>
      {% endif %}
      <br>
      {% if submitted_form_b%}
      <table class="status-table">
        <thead>
          
          <tr>
            <th>Student</th>
            <th>Form</th>
            <th>Risk Level</th>
            <th>Date Assigned</th>
            <th>Status</th>
            <th>Documents</th>
            <th>Action</th>
          </tr>
         
        </thead>
        <tbody>
          
          <tr>
            <td>{{submitted_form_b.student_number}}</td>
            <td>Form B</td>
            <td>{{submitted_form_b.risk_level}}</span></td>
            <td>{% if submitted_form_b.signature_date%}{{submitted_form_b.signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td><span class="badge status-pending">
              {% if submitted_form_b.rec_status  and submitted_form_b.form_reviewed_by1 == user_id and 'low' not in submitted_form_b.risk_level|lower%}
              {{submitted_form_b.rec_status}}
              {% elif not submitted_form_b.certificate_issued and not submitted_form_b.certificate_received and (submitted_form_b.form_reviewed_by==user_id or submitted_form_b.form_reviewed_by1==user_id) and 'low' not in submitted_form_b.risk_level|lower and submitted_form_b.review_status and not submitted_form_b.review_status1  %}
              Under Review
              {% elif not submitted_form_b.certificate_issued and not submitted_form_b.certificate_received and submitted_form_b.review_status and submitted_form_b.review_status1 %}
              Under Review
              {% elif not submitted_form_b.certificate_received and submitted_form_b.certificate_issued and (submitted_form_b.form_reviewed_by==user_id or submitted_form_b.form_reviewed_by1==user_id) and ('low' in submitted_form_b.risk_level|lower or 'low' in submitted_form_b.risk_rating |lower) %}
              Certificate Will be Issued
              {% elif submitted_form_b.review_status and submitted_form_b.form_reviewed_by1==user_id%}
              Submitted to Ethics Admin
              
              {% elif not submitted_form_b.certificate_issued and not submitted_form_b.certificate_received and submitted_form_b.review_status and not submitted_form_b.review_status1 and (submitted_form_b.form_reviewed_by == user_id or submitted_form_b.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif not submitted_form_b.certificate_issued and not submitted_form_b.certificate_received and submitted_form_b.form_reviewed_by and not submitted_form_b.form_reviewed_by1  and (submitted_form_b.form_reviewed_by == user_id or submitted_form_b.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif not submitted_form_b.certificate_issued and not submitted_form_b.certificate_received and submitted_form_b.form_reviewed_by and submitted_form_b.form_reviewed_by1  and (submitted_form_b.form_reviewed_by == user_id or submitted_form_b.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif submitted_form_b.rejected_or_accepted and submitted_form_b.review_status and not submitted_form_b.review_status1 and not (submitted_form_b.form_reviewed_by == user_id or submitted_form_b.form_reviewed_by1 == user_id) and not submitted_form_b.form_reviewed_by1 %}
              Awaiting for review
              {% elif submitted_form_b.certificate_issued and submitted_form_b.certificate_received %}
              Certificate was issued
               
              {% elif not submitted_form_b.certificate_issued and not submitted_form_b.certificate_received and not submitted_form_b.reviewed_by and not submitted_form_b.reviewed_by1 %}
              Awaiting for review
              {% endif %}
            </span>
          
            </td>
            <td>
              <ul class="doc-link">
                
                  {% if requirementsb.proposal_path %}
                      
                      <li><a href="{{ url_for('static', filename=requirementsb.proposal_path) }}" target="_blank">Proposal</a></li>
                  {% endif %}
                  {% if requirementsb.permission_letter %}
                  
                      <li><a href="{{ url_for('static', filename=requirementsb.permission_letter) }}" target="_blank">Impact Form</a></li>
                  {% endif %}
                  {% if requirementsb.ethics_evidence %}
                
                      <li><a href="{{ url_for('static', filename=requirementsb.ethics_evidence) }}" target="_blank">Permission Letter</a></li>
                  {% endif %}
                  {% if requirementsb.prior_clearance_path %}
               
                      <li><a href="{{ url_for('static', filename=requirementsb.prior_clearance_path) }}" target="_blank">Ethics Clearance</a></li>
                  {% endif %}
                 
                <br>
                
              </ul>
            </td>
            <td>
              <a href="{{url_for('reviewer_form_b',id=submitted_form_b.form_id)}}" class="view-btn">Review</a>
            </td>
          </tr>
           
        </tbody>
      </table>
      {% endif %}
      <br>
      {% if submitted_form_c%}
      <table class="status-table">
        <thead>
          
          <tr>
            <th>Student</th>
            <th>Form</th>
            <th>Risk Level</th>
            <th>Date Assigned</th>
            <th>Status</th>
            <th>Documents</th>
            <th>Action</th>
          </tr>
         
        </thead>
        <tbody>

          
          <tr>
            <td>{{submitted_form_c.student_number}}</td>
            <td>Form C</td>
            <td>{{submitted_form_c.risk_level}}</td>
            <td>{% if submitted_form_c.signature_date%}{{submitted_form_c.signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td><span class="badge status-pending">
              
              {% if submitted_form_c.rec_status  and submitted_form_c.form_reviewed_by1 == user_id and 'low' not in submitted_form_c.risk_level|lower%}
              {{submitted_form_c.rec_status}}
              {% elif not submitted_form_c.certificate_issued and not submitted_form_c.certificate_received and (submitted_form_c.form_reviewed_by==user_id or submitted_form_c.form_reviewed_by1==user_id) and 'low' not in submitted_form_c.risk_level|lower and submitted_form_c.review_status and not submitted_form_c.review_status1  %}
              Under Review
              {% elif not submitted_form_c.certificate_issued and not submitted_form_c.certificate_received and submitted_form_c.review_status and submitted_form_c.review_status1 %}
              Under Review
              {% elif not submitted_form_c.certificate_received and submitted_form_c.certificate_issued and (submitted_form_c.form_reviewed_by==user_id or submitted_form_c.form_reviewed_by1==user_id) and ('low' in submitted_form_c.risk_level|lower or 'low' in submitted_form_c.risk_rating |lower) %}
              Certificate Will be Issued
              {% elif submitted_form_c.review_status and submitted_form_c.form_reviewed_by1==user_id%}
              Submitted to Ethics Admin
              
              {% elif not submitted_form_c.certificate_issued and not submitted_form_c.certificate_received and submitted_form_c.review_status and not submitted_form_c.review_status1 and (submitted_form_c.form_reviewed_by == user_id or submitted_form_c.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif not submitted_form_c.certificate_issued and not submitted_form_c.certificate_received and submitted_form_c.form_reviewed_by and not submitted_form_c.form_reviewed_by1  and (submitted_form_c.form_reviewed_by == user_id or submitted_form_c.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif not submitted_form_c.certificate_issued and not submitted_form_c.certificate_received and submitted_form_c.form_reviewed_by and submitted_form_c.form_reviewed_by1  and (submitted_form_c.form_reviewed_by == user_id or submitted_form_c.form_reviewed_by1 == user_id)%}
              Under Review
              {% elif submitted_form_c.rejected_or_accepted and submitted_form_c.review_status and not submitted_form_c.review_status1 and (submitted_form_c.form_reviewed_by == user_id or submitted_form_c.form_reviewed_by1 == user_id) and not submitted_form_c.form_reviewed_by1 %}
              Awaiting for review
              {% elif submitted_form_c.certificate_issued and submitted_form_c.certificate_received %}
              Certificate was issued
              
              {% elif not submitted_form_c.certificate_issued and not submitted_form_c.certificate_received and submitted_form_c.form_reviewed_by and not submitted_form_c.form_reviewed_by1 and not (submitted_form_c.form_reviewed_by == user_id or submitted_form_c.form_reviewed_by1 == user_id) %}
              Awaiting for Review
              
              {% elif not submitted_form_c.certificate_issued and not submitted_form_c.certificate_received and not submitted_form_c.form_reviewed_by and not submitted_form_c.form_reviewed_by1 %}
              Awaiting for review
              {% endif %}
            </span>
              </td>
            <td>
              <ul class="doc-link">
                
                  {% if requirementsc.files %}
                      
                      <li><a href="{{ url_for('static', filename=requirementsc.files) }}" target="_blank">Proposal</a></li>
                  {% endif %}
                  
                <br>
              </ul>
            </td>
            <td>
              <a href="{{url_for('reviewer_form_c',id=submitted_form_c.form_id)}}" class="view-btn">Review</a>
            </td>
          </tr>
          
        </tbody>
      </table>
      {% endif %}
    
    </section>

  </main>

</div>


    <!-- <footer class="footer">
      <p>&copy; 2025 JBS Ethics | University of Johannesburg</p>
    </footer> -->

</body>
</html>
