<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Form C – Researcher's Details | JBS Ethics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/form_a.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form_a.css') }}">
</head>
<body>

<div class="form-wrapper">

  <!-- Navbar -->
  <header class="navbar">
    <div class="nav-content">
      <img src="{{ url_for('static',filename='img/image.png')}}" alt="UJ JBS Logo" class="logo uj">
      <span class="nav-title">Form C – Researcher's Details</span>
      <div style="text-align: right;">
        <a href="{{url_for('logout')}}" class="btn-logout">Logout</a>
      </div>
    </div>
  </header>
 <form action="{{url_for('student_edit_formc')}}" method="post" enctype="multipart/form-data">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      
  <!-- Main Content -->
  <main class="main-content">

    <h2>Section 1: Researcher's Details</h2>

      <label>Applicant Name</label>
      <input type="text" name="applicant_name" value="{{formc.applicant_name}}" >

      <label>Student/Staff Number</label>
      <input type="text" name="student_number" value="{{formc.student_number}}">

      <label>Institution</label>
      <input type="text" name="institution" value="University of Johannesburg" required>

      <label>UJ Department and School</label>
      <input type="text" value="{{formc.department}}" name="department" >

      <label>Degree Registered For</label>
      <input type="text" value="{{formc.degree}}" name="degree" >

      <label>Title/Working Title of Study</label>
      <input type="text" value="{{formc.project_title}}" name="project_title" >

      <label>Mobile Number</label>
      <input type="tel" name="mobile_number" value="{{formc.mobile_number}}" >

  </main>
  <!-- Main Content -->
    <main class="main-content">

      <h2>Section 2: Risk Assessment</h2>

      <h4>2.1 Direct Involvement of Vulnerable Groups</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Participant Group</th>
            <th>Tick if Applicable</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Communities that may be considered as vulnerable</td><td><input {% if formc.vulnerable%}checked{% endif %} type="checkbox" name="vulnerable"></td></tr>
          <tr><td>People under the age of 18 or over 65</td><td><input type="checkbox" {% if formc.age_under_18_or_over_65%}checked{% endif %} name="age_under_18_or_over_65"></td></tr>
          <tr><td>UJ employees or students</td><td><input type="checkbox" name="uj_employees" {% if formc.uj_employees%}checked{% endif %}></td></tr>
          <tr><td>Persons not usually considered vulnerable but would be in this context</td><td><input type="checkbox" {% if formc.non_vulnerable_context %}checked{% endif %} name="non_vulnerable_context"></td></tr>
          <tr><td>Non-English-speaking participants</td><td><input type="checkbox" {% if formc.non_english %}checked{% endif %} name="non_english"></td></tr>
          <tr><td>A researcher’s own students</td><td><input type="checkbox" {% if formc.own_student %}checked{% endif %} name="own_students"></td></tr>
          <tr><td>People living in poverty</td><td><input type="checkbox" {% if formc.poverty%}checked{% endif %} name="poverty"></td></tr>
          <tr><td>People with little or no education</td><td><input type="checkbox" {% if formc.non_education %}checked{% endif %} name="non_education"></td></tr>
          <tr><td>Other: Please describe.</td><td><textarea name="vulnerable_other_description" class="form-control" rows="2">{{formc.vulnerable_other_description}}</textarea></td></tr>
        </tbody>
      </table>
      
      <label><strong>Comments (e.g. “No participants”):</strong></label>
      <textarea name="vulnerable_comments"  class="form-control" rows="2">{{formc.vulnerable_comments}}</textarea>
      
      <hr>

      <h4>2.2 Research Activity Type</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Tick if Applicable</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Collection/use/disclosure of info without individual’s consent (excluding StatsSA, etc.)</td><td><input type="checkbox" {% if formc.consent_violation %}checked{% endif %} name="consent_violation"></td></tr>
    <tr><td>Causing discomfiture beyond normal inconvenience</td><td><input type="checkbox" {% if formc.discomfiture%}checked{% endif %} name="discomfiture"></td></tr>
    <tr><td>Deception of participants or covert observation</td><td><input type="checkbox" {% if formc.deception%}checked{% endif %} name="deception"></td></tr>
    <tr><td>Examining sensitive or contentious issues</td><td><input type="checkbox" {% if formc.sensitive_issues%}checked{% endif%} name="sensitive_issues"></td></tr>
    <tr><td>Seeking prejudicial information about participants</td><td><input type="checkbox" {% if formc.prejudicial_info%}checked{% endif%} name="prejudicial_info"></td></tr>
    <tr><td>Using intrusive techniques</td><td><input type="checkbox" value="{{formc.intrusive}}" name="intrusive"></td></tr>
    <tr><td>Study/participation in illegal activities</td><td><input type="checkbox" {% if formc.illegal%}checked{% endif %} name="illegal"></td></tr>
    <tr><td>Collecting personal/social info directly from participants</td><td><input type="checkbox" {% if formc.direct_social_info%}checked{% endif %} name="direct_social_info"></td></tr>
    <tr><td>Identifiable info collected from available records (staff/student records)</td><td><input type="checkbox" {% if formc.identifiable_records%}checked{% endif %} name="identifiable_records"></td></tr>
    <tr><td>Psychology inventories / scales / tests</td><td><input type="checkbox" {% if formc.psychology_tests%}checked{% endif %} name="psychology_tests"></td></tr>
    <tr><td>Activities putting researcher/data collector at risk</td><td><input type="checkbox" {% if formc.researcher_risk%}checked{% endif %} name="researcher_risk"></td></tr>
    <tr><td>Other:  Please describe.</td><td><textarea name="activity_other_description" value="{{formc.activity_other_description}}" class="form-control" rows="2"></textarea></td></tr>
  </tbody>
</table>

<label><strong>Comments:</strong></label>
<textarea name="activity_comments" class="form-control" rows="2">{{formc.activity_comments}}</textarea>
      <hr>

      <h4>2.3 Additional Research Considerations</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Item</th>
            <th>Tick if Applicable</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>a) Reimbursement or incentives to any participants.</td><td><input type="checkbox" {% if formc.incentives%}checked{% endif %} name="incentives"></td></tr>
          <tr><td>b) Participants will incur financial costs by participating.</td><td><input type="checkbox" {% if formc.participant_costs%}checked{% endif %} name="participant_costs"></td></tr>
          <tr><td>c) Researcher has financial or other involvement in the research.</td><td><input type="checkbox" {% if formc.researcher_interest%}checked{% endif %} name="researcher_interest"></td></tr>
          <tr><td>d) Any potential conflict of interest (e.g., researching peers/students).</td><td><input type="checkbox" {% if formc.conflict_of_interest%}checked{% endif %} name="conflict_of_interest"></td></tr>
          <tr><td>e) Research is conducted on UJ premises.</td><td><input type="checkbox" {% if formc.uj_premises%}checked{% endif %} name="uj_premises"></td></tr>
          <tr><td>f) Research uses UJ facilities (venues, software, hardware, etc.)</td><td><input type="checkbox" {% if formc.uj_facilities%}checked{% endif%} name="uj_facilities"></td></tr>
          <tr><td>g) Research is funded by UJ or through UJ-acquired funding.</td><td><input type="checkbox" {% if formc.uj_funding%}checked{% endif %} name="uj_funding"></td></tr>
        </tbody>
      </table>
      
      <label><strong>Comments:</strong></label>
      <textarea name="consideration_comments"  class="form-control" rows="2">{{formc.consideration_comments}}</textarea>
      
      <hr>
      
      <h3>2.4 Risk Assessment</h3>
      
      <label><strong>2.4.1 Rate your project risk level:</strong></label>
      <select name="risk_level" class="form-select">
        <option value="">-- Select Risk Level --</option>
        <option value="Low">Low Risk</option>
        <option value="Medium">Medium Risk</option>
        <option value="High">High Risk</option>
      </select>
      
      <br>
      <label><strong>2.4.2 Justify the Risk Level</strong></label>
     
      <textarea type="text" name="risk_justification" class="form-control" rows="3">{{formc.risk_justification}}</textarea>      

  </main>
<!-- Main Content -->
  <main class="main-content">
  
    <h2>Section 3: Proposal Summary Sheet</h2>

      <div class="form-group">
        <label for="summary_title">3.1 Title or Provisional Title of the Research Project</label>
        <input type="text" value="{{formc.summary_title}}" id="summary_title" name="summary_title" placeholder="10–16 words" required />
      </div>

      <div class="form-group">
        <label for="executive_summary">3.2 Executive Summary of the Study</label>
        <textarea id="executive_summary" name="executive_summary" rows="5" placeholder="Summarize your study in 100–250 words" required>{{formc.executive_summary}}</textarea>
      </div>

      <div class="form-group">
        <label for="research_questions">3.3 Research Questions / Hypotheses</label>
        <textarea id="research_questions"  name="research_questions" rows="4" placeholder="List your main research questions or hypotheses" required>{{formc.research_questions}}</textarea>
      </div>

      <div class="form-group">
        <label for="research_purpose">3.4 Research Purpose and Objectives / Anticipated Outcomes</label>
        <textarea id="research_purpose" name="research_purpose" rows="4" placeholder="What is the purpose and intended outcomes?" required>{{formc.research_purpose}}</textarea>
      </div>

      <div class="form-group">
        <label for="secondary_data_info">3.5 Secondary Data: How was data originally collected, and ethical issues handled?</label>
        <textarea id="secondary_data_info"  name="secondary_data_info" rows="4" placeholder="Explain if using secondary data sources" required>{{formc.secondary_data_info}}</textarea>
      </div>

      <div class="form-group">
        <label for="exemption_reason">3.6 Why does your study meet exemption requirements?</label>
        <textarea id="exemption_reason"  name="exemption_reason" rows="4" placeholder="Explain why ethical exemption applies" required>{{formc.exemption_reason}}</textarea>
      </div>


  </main>
<!-- Main Content -->
    <main class="main-content">

 
 <h2>Section 4: Declaration</h2>

      <p class="form-note" style="text-align: justify;">
        I, <input type="text" value="{{formc.declaration_name}}" id="declaration-name" name="declaration_name" required style="display: inline-block; width: 300px;">
        (full name of main researcher),declare that I have read the Policy on Research Ethics of UJ and the contents of this document are a true and accurate reflection of the methodological and ethical implications of my proposed study. I shall carry out the study in strict accordance with the approved proposal and the Policy on Research Ethics of UJ. I further undertake to inform the relevant research ethics review committee of JBS in writing of any adverse events that occur arising from the injury or harm experienced by the participants in the study. I shall also notify the relevant JBS research ethics review committee if any changes to the study are proposed. I shall maintain the confidentiality of all data collected from or about the research participants and impose strict controls in the maintenance of privacy. I shall record all data captured during interviews in accordance with
 
        ethical guidelines outlined in my proposal. Paragraph 5 of the Policy on Research Ethics places huge emphasis on the integrity of the research and I shall ensure that I conduct the research with the highest integrity taking into account UJ’s Policy for Copyright Infringement and Plagiarism. Data that was gathered retrospectively will not be used. I acknowledge that as main researcher it is my responsibility to ensure that the co-researchers to this research project adhere to the ethical principles set out in the UJ Policy on Research Ethics.                                
      </p>

      <div class="form-group">
        <label for="full_name">Full Name</label>
        <input type="text" value="{{formc.full_name}}" name="full_name" id="full_name" required placeholder="Enter your full name">
      </div>

      <div class="form-group">
        <label for="submission_date">Date</label>
        <input type="date" name="submission_date" id="submission_date" required>
      </div>

      <p class="form-note">
        By submitting this form electronically, you confirm your agreement to the declaration above.
      </p>

      <!-- Navigation and Action Buttons -->
      <div class="form-navigation">
       <button type="submit" class="approve-btn">✔ Submit Form To Supervisor</button>
      </div>
   
  </main>

 </form>
  <footer class="footer">
    <p>&copy; 2025 Johannesburg Business School | JBS Ethics System</p>
  </footer>

</div>

</body>
</html>
