<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Supervisor Dashboard | JBS Ethics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="css/supervisor.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/supervisor.css') }}">
</head>
<body>

<div class="admin-wrapper">

  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="{{ url_for('static',filename='img/image.png')}}" alt="UJ JBS Logo" class="logo uj">
    </div>
    <nav class="sidebar-nav">
      <a href="{{url_for('supervisor_dashboard')}}" class="sidebar-link active">
        <i class="fas fa-home"></i> Dashboard
      </a>
      <a href="{{url_for('supervisor_student')}}" class="sidebar-link">
        <i class="fas fa-users"></i> My Students
      </a>
      <a href="{{url_for('logout')}}" class="sidebar-link">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </nav>
  </aside>

  <!-- Main -->
  <main class="admin-main">
    <header class="topbar">
      <h2>Supervisor</h2>
      <p>
        Please review the student submissions below. You can click on the form name to view the details and take necessary actions.
      </p>
    </header>

    <section class="admin-content">

      {% if supervisor_formA or supervisor_formB or supervisor_formC%}
      <table class="status-table">
        <thead>
          <tr>
            <th>Form Name</th>
            <th>Name</th>
            <th>Student</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Submitted On</th>
            <th>Documents</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if supervisor_formA %}
          {% for forma,req,forma_count in supervisor_formA %}
          <tr>
            <td>Form A</td>
            <td>{{forma.declaration_name}}</td>
            <td>{{forma.student_number}}</td>
            <td><span class="badge status-pending">
          
           {% if (forma.rec_status=='Approved' or forma.rec_status=='Approved with Minor Changes') and forma.certificate_issued and forma.certificate_received %}
                <a href="{{url_for('view_certificate',id=forma.form_id)}}">View Certificate</a>
              <br>

              {% elif forma.certificate_issued and forma.certificate_received%}
              <a href="{{url_for('view_certificate',id=forma.form_id)}}">View Certificate</a>
              {% elif forma.recommendation=='Ready for submission' and forma.rejected_or_accepted %}
             Submitted to ethics
             {% elif not forma.rejected_or_accepted and not forma.recommendation %}
              Awaiting for review
              {% elif not forma.rejected_or_accepted and not forma.recommendation=='Ready for submission'%}
                Submitted to ethics
              {% elif (not forma.review_status or not forma.review_status1) and forma.rejected_or_accepted%}
              {% if forma.review_recommendation %}
               1st Reviewer: {{forma.review_recommendation}}
              {% elif forma.review_recommendation1 %}
               2nd Reviewer: {{forma.review_recommendation1}}
              {% endif %}
              {% set review_comment = '' %}
                {% elif forma.form_review_comment in ['Approved with Minor Changes', 'Resubmission Required'] %}
                  {% set review_comment = forma.form_review_comment %}
                {% elif forma.form_review_comment1 in ['Approved with Minor Changes', 'Resubmission Required'] %}
                  {% set review_comment = forma.form_review_comment1 %}
                {# 🖨️ Display the result if it was matched #}
                  {% if review_comment %}
                    <p>Review Status: {{ review_comment }}</p>
                  {% endif %}
              {% elif not forma.rejected_or_accepted and not forma.supervisor_comment %}
              Rejected
              
              {% endif %}
            </span>
            <br>
            {% if forma_count > 1 %}
            <br>
              <a href="{{url_for('supervisor_dashboard_previous_forms',user_id=forma.user_id)}}" class="view-btn" >Review Previous Forms </a>
            {% endif %}
          </td>
            <td>
              {% if forma.supervisor_feedback and not forma.ethics_commettee_comments%}
              <!-- <strong>Supervisors comments</strong> -->

              <a href="{{url_for('supervisor_view_feedback',id=forma.form_id)}}" class="btn btn-success">View Feedback</a>
              <br>
              {% elif forma.ethics_commettee_comments %}
              <strong>Ethics Admin comments</strong>
              <a href="{{url_for('supervisor_view_feedback',id=forma.form_id)}}" class="btn btn-success">View Feedback</a>
              <br>
              {% endif %}
            </td>
            <td>{% if forma.signature_date%}{{forma.signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td>
              <ul class="doc-link">
                  {% if req.proposal_path %}
                      
                      <li><a href="{{ url_for('static', filename=req.proposal_path) }}" target="_blank">Research Proposal</a></li>
                  {% endif %}

                  {% if req.permission_letter %}
                  {% for file in req.permission_letter.split(',') %}
                    <li><a href="{{ url_for('static', filename=file.strip()) }}" target="_blank">Permission Letter {{ loop.index }}</a></li>
                  {% endfor %}
                {% endif %}
                  {% if req.ethics_evidence %}
                      <li><a href="{{ url_for('static', filename=req.ethics_evidence) }}" target="_blank">Ethical Compliance</a></li>
                  {% endif %}

                  {% if req.prior_clearance_path %}
               
                      <li><a href="{{ url_for('static', filename=req.prior_clearance_path) }}" target="_blank">Ethics Clearance</a></li>
                  {% endif %}
                  {% if req.research_tools_path %}
                      <li><a href="{{ url_for('static', filename=req.research_tools_path) }}" target="_blank">Survey/Interview/Focus Group Questions</a></li>
                  {% endif %}
                  {% if req.impact_assessment_path %}
                      <li><a href="{{ url_for('static', filename=req.impact_assessment_path) }}" target="_blank">Personal Assessment Impact Form</a></li>
                  {% endif %}
                  {% if req.prior_clearance %}
                  <li><a href="{{url_for('static',filename=req.prior_clearance)}}">Prior Clearance</a></li>
                  {% endif %}
                  {% if req.prior_clearance1 %}
                  <li><a href="{{url_for('static',filename=req.prior_clearance1)}}">Ethical Clearance</a></li>
                  {% endif %}
                  {% if req.participation_info_sheet%}
                  <li><a href="{{url_for('static',filename=req.participation_info_sheet)}}">Participation Info Sheet</a></li>
                  {% endif %}
                  <!-- {% if req.need_jbs_clearance1%}
                  <li><a href="{{url_for('static',filename=req.need_jbs_clearance1)}}">JBS Clearance 2</a></li>
                  {% endif %} -->
                <br>
              </ul>
            </td>
            <td>
              <a href="{{url_for('form_a_supervisor',id=forma.user_id)}}" class="view-btn">Review</a><br>
             
            </td>
          </tr>
          {% endfor %}
          {% endif%}
          
          {% if supervisor_formB %}
          {% for formb,req,formb_count in supervisor_formB %}
          <br>
          <tr>
            <td>Form B</td>
            <td>{{formb.declaration_name}}</td>
            
            <td>{{formb.student_number}}</td>
            <td><span class="badge status-pending">
              {% if formb.rec_status=='Approved' or formb.rec_status=='Approved with Minor Changes' and formb.certificate_issued and formb.certificate_received%}
                <a href="{{url_for('view_certificate',id=formb.form_id)}}">View Certificate</a>
              <br>

              {% elif formb.certificate_issued and formb.certificate_received%}
              <a href="{{url_for('view_certificate',id=formb.form_id)}}">View Certificate</a>
              {% elif formb.recommendation=='Ready for submission' and formb.rejected_or_accepted %}
              Submitted to ethics
              {% elif not formb.rejected_or_accepted and not formb.recommendation %}
              Awaiting for review
              {% elif not formb.rejected_or_accepted and not formb.recommendation=='Ready for submission'%}
              Submitted to ethics
              {% elif (not formb.review_status or not formb.review_status1) and formb.rejected_or_accepted%}
                {% if formb.review_recommendation %}
                    1st Reviewer: {{formb.review_recommendation}}
                    </br>
                  {% elif formb.review_recommendation1%}
                    2nd Reviewer: {{formb.review_recommendation1}}
                  {% endif %}
              {% set review_comment = '' %}
                {% elif formb.form_review_comment in ['Approved with Minor Changes', 'Resubmission Required'] %}
                  {% set review_comment = formb.form_review_comment %}
                {% elif formb.form_review_comment1 in ['Approved with Minor Changes', 'Resubmission Required'] %}
                  {% set review_comment = formb.form_review_comment1 %}
                {# 🖨️ Display the result if it was matched #}
                  {% if review_comment %}
                    <p>Review Status: {{ review_comment }}</p>
                  {% endif %}
              {% elif not formb.rejected_or_accepted and not formb.supervisor_comment %}
              Rejected
              
              {% endif %}
            </span>
          <br>
            {% if formb_count > 1 %}
            <br>
              <a href="{{url_for('supervisor_dashboard_previous_forms',user_id=formb.user_id)}}" class="view-btn" >Review Previous Forms </a>
            {% endif %}
          </td>
            <td>
              {% if formb.supervisor_feedback and not formb.ethics_commettee_comments%}
              <!-- <strong>Supervisors comments</strong> -->
              <a href="{{url_for('supervisor_view_feedback',id=formb.form_id)}}" class="btn btn-success">View Feedback</a>
              <br>
              {% elif formb.ethics_commettee_comments %}
              <strong>Ethics Admin comments</strong>
              <a href="{{url_for('supervisor_view_feedback',id=formb.form_id)}}" class="btn btn-success">View Feedback</a>
              <br>
              
              {% endif %}
            </td>
            <td>{% if formb.signature_date %}{{formb.signature_date.strftime('%d/%m/%Y')}}{% endif%}</td>
            <td>
              <ul class="doc-link">
                  {% if req.proposal_path %}
                      
                      <li><a href="{{ url_for('static', filename=req.proposal_path) }}" target="_blank">Proposal</a></li>
                  {% endif %}
                  
                  {% if req.permission_letter %}
                  
                      <li><a href="{{ url_for('static', filename=req.permission_letter) }}" target="_blank">Permission Letter</a></li>
                  {% endif %}
                  {% if req.ethics_evidence %}
                
                      <li><a href="{{ url_for('static', filename=req.ethics_evidence) }}" target="_blank">Ethical Compliance</a></li>
                  {% endif %}
                  {% if req.prior_clearance_path %}
               
                      <li><a href="{{ url_for('static', filename=req.prior_clearance_path) }}" target="_blank">Ethical Clearance</a></li>
                  {% endif %}
                 
                
                <br>
              </ul>
            </td>
            <td>
              <a href="{{url_for('form_b_supervisor',id=formb.user_id)}}" class="view-btn">Review</a><br>
             
            </td>
          </tr>
          {% endfor %}
          {% endif %}
          <br>
          {% if supervisor_formC%}
          {% for formc,req,formc_count in supervisor_formC %}
          <br>
        
          <tr>
            <td>Form C</td>
            <td>{{formc.declaration_name}}</td>
            <td>{{formc.student_number}}</td>
            <td><span class="badge status-pending">
                {% if formc.rec_status=='Approved' or formc.rec_status=='Approved with Minor Changes' and formc.certificate_issued and formc.certificate_received%}
                <a href="{{url_for('view_certificate',id=formc.form_id)}}">View Certificate</a>
              <br>

              {% elif formc.certificate_issued and formc.certificate_received %}
              <a href="{{url_for('view_certificate',id=formc.form_id)}}">View Certificate</a>
              {% elif formc.recommendation=='Ready for submission' and formc.rejected_or_accepted %}
              Submitted to ethics
              {% elif not formc.rejected_or_accepted and not formc.recommendation %}
              Awaiting for review
              {% elif not formc.rejected_or_accepted and not formc.recommendation=='Ready for submission'%}
              Submitted to ethics
              {% elif ( not formc.review_status or not formc.review_status1) and formc.rejected_or_accepted%}
                {% if formc.review_recommendation %}
                    1st Reviewer: {{formc.review_recommendation}}
                {% elif formc.review_recommendation1 %}
              <br>
                   2nd Reviewer: {{formc.review_recommendation1}}
                   {% endif %}
              {% set review_comment = '' %}
                {% elif formc.form_review_comment in ['Approved with Minor Changes', 'Resubmission Required'] %}
                  {% set review_comment = formc.form_review_comment %}
                {% elif formc.form_review_comment1 in ['Approved with Minor Changes', 'Resubmission Required'] %}
                  {% set review_comment = formc.form_review_comment1 %}
                {# 🖨️ Display the result if it was matched #}
                  {% if review_comment %}
                    <p>Review Status: {{ review_comment }}</p>
                  {% endif %}
              {% elif not formc.rejected_or_accepted and not formc.supervisor_comment %}
              Rejected
              
              {% endif %}
              </span>
              <br>
              {% if formc_count > 1 %}
              <br>
                <a href="{{url_for('supervisor_dashboard_previous_forms',user_id=formc.user_id)}}" class="view-btn" >Review Previous Forms </a>
              {% endif %}
              </td>
              <td>
              {% if formc.supervisor_feedback and not formc.ethics_commettee_comments%}
            
              <!-- <strong>Supervisors comments</strong> -->
              <a href="{{url_for('supervisor_view_feedback',id=formc.form_id)}}" class="btn btn-success">View Feedback</a>
              <br>
              {% elif formc.ethics_commettee_comments %}
              <strong>Ethics Admin comments</strong>
              <a href="{{url_for('supervisor_view_feedback',id=formc.form_id)}}" class="btn btn-success">View Feedback</a>
              <br>
              {% endif %}
            </td>
            <td>{% if formc.signature_date%}{{formc.signature_date.strftime('%d/%m/%Y')}}{% else%}Not Reviewed{% endif%}</td>
            <td>
        <ul class="doc-link">
              
                  {% if req.files %}
                      
                      <li><a href="{{ url_for('static', filename=req.files) }}" target="_blank">Proposal</a></li>
                  {% endif %}
                
                <br>
              </ul>
            </td>
            
            <td>
              <a href="{{url_for('form_c_supervisor',id=formc.user_id)}}" class="view-btn">Review</a><br>
             
            </td>
          </tr>
          {% endfor %}
         
          {% endif %}
        </tbody>
      </table>
      {% else %}
      No submissions 
      {% endif %}

    </section>

  </main>

</div>

    <!-- <footer class="footer">
      <p>&copy; 2025 Johannesburg Business School | University of Johannesburg</p>
    </footer> -->

</body>
</html>
